save_path	models/ptb/ptb_word_sentence/
log		ptb_word_sentence_debug2
data_path	data/PennTreeBank
vocab_size	10000
vocab		False
layer		LSTM
num_layers	1
size	`	512
num_steps	35
init_scale	0.05
learning_rate	1	
max_grad_norm	5
batch_size	20
forget_bias	0
dropout		0.5
max_epoch	6
max_max_epoch	39
lr_decay	0.8
optimizer	sgd
trainer		trainer
softmax		full
per_sentence	True
debug2		True
result		results/ptb_word_sentence_test_debug2.txt

