data_path	/users/spraak/lverwimp/data/PennTreeBank
save_path	/esat/spchtemp/scratch/lverwimp/tensorflow/models/ptb_word_small_dropout0.75/
vocab		False
layer		LSTM
num_layers	2
size	`	200
batch_size	20
num_steps	20
init_scale	0.1
forget_bias	0
optimizer	sgd
softmax		full
max_grad_norm	5
dropout		0.75
trainer		trainer
learning_rate	1	
max_epoch	4
lr_decay	0.5
max_max_epoch	13
