name            /esat/spchtemp/scratch/lverwimp/tensorflow/models/ptb_word_small/ptb_word_small
log             /users/spraak/lverwimp/experiments/tensorflow_scripts/config_scripts/logs/ptb_word_small.log
save_path       /esat/spchtemp/scratch/lverwimp/tensorflow/models/ptb_word_small/
data_path       /users/spraak/lverwimp/data/PennTreeBank
vocab_size      10000
vocab           False
layer           LSTM
num_layers      2
word_size       200
num_steps       20
init_scale      0.1
learning_rate   1       
max_grad_norm   5
batch_size      20
max_epoch       4
max_max_epoch   13
dropout         1
lr_decay        0.5
forget_bias     0
optimizer       sgd
